/.idea/.idea.Linux_Dynamic_Wallpapers_Locally.dir/.idea/indexLayout.xml
/.idea/.idea.Linux_Dynamic_Wallpapers_Locally.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Linux_Dynamic_Wallpapers_Locally.dir/.idea/vcs.xml
/.idea/.idea.Linux_Dynamic_Wallpapers_Locally.dir/.idea/workspace.xml
